{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="span3">
            <p><strong>Welcome</strong> to this peaceful place, ideal for any questions.</p>
        </div>
        <div class="span9">
            {% crispy q_form %}
        </div>
    </div>
{% endblock %}