<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block title %}Deep Thought{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% block meta_description %}42{% endblock %}">
        <meta name="viewport" content="width=device-width">

        {% block top_css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
            <style>
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
            </style>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        {% endblock %}

        {% block top_js %}
            <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            {% block head %}
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Deep Thought</a>
                    <div class="nav-collapse collapse">
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            {% endblock %}
        </div>

        <div class="container">
            {% block container %}

            {% endblock %}
            <hr>
            <footer>
                {% block footer %}
                    <p>DeepThought&nbsp;&copy;&nbsp;Lattirail.net 2013</p>
                {% endblock %}
            </footer>

        </div> <!-- /container -->

        {% block bottom_js %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

            <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>

            <script src="{{ STATIC_URL }}js/plugins.js"></script>
            <script src="{{ STATIC_URL }}js/main.js"></script>

            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endblock %}
    </body>
</html>
